.result__card {
    padding-top: 150px;
    text-align: center;
  
    &--result {
        font-size: 24px;
        font-weight: 600;
        line-height: 28px;
    }
  
    &--button {
        margin-top: 60px;
        display: flex;
        justify-content: center;
        gap: 30px;
    }
  
    &--button--back {
        width: 140px;
        padding: 6px 4px;
        border: 1px solid var(--black-color);
  
        transition: .3s ease-in-out;
  
        &:hover {
            background: var(--black-color);
            color: var(--light-color);
        }
    }
}

.questions {
    &__result--item {
        color: var(--black-color);
        padding: 8px;
        border: 1px solid #e6e6e6;
        margin-bottom: 12px;

        font-size: 16px;
        font-weight: 400;
    }

    &__result--title {
        margin-bottom: 10px;
    }

    &__result--card {
        margin-bottom: 30px;
    }
}

.correct {
    border-color: #18d418;
}